version: '3'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_container
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - ./data:/var/lib/mysql
      - ./conf.d:/etc/mysql/conf.d
      - ./init:/docker-entrypoint-initdb.d
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped

    # App Server가 DB 구동 완료를 대기할 수 있도록 상태 노출
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u${MYSQL_USER} -p${MYSQL_PASSWORD} || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

    networks:
      - chat-net
      
networks:
  chat-net:
    external: true